@import url(./vendor/normalize.css);
@import url(./blocks/page.css);
@import url(./blocks/nav.css);
@import url(./blocks/footer.css);
@import url(./blocks/productItem/productItem.css);

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  max-width: 1200px;
  margin: 0 auto;
}
