.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

.nav__links {
  list-style: none;
  padding: 0;
  display: flex;
  column-gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-family: "Inter", Arial, san-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #2f80ed;
}

.nav__order {
  display: block;
  position: absolute;
  top: 10px;
  right: 60px;
  text-decoration: none;
}

.nav__logo {
  font-weight: 800;
}
#badge {
  background-color: red;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 12px;
  color: white;
  position: absolute;
  top: 5px;
  right: 70px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
